# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
/.idea/
/jmurmel-all.iml
/scripts/scripts.iml
/scripts/target/
/doc/target/
/lambda/jmurmel.iml
/lambda/target/
/lambdajbm/jmurmelbm.iml
/lambdajbm/target/
/parent/definitions/definitions.iml
/parent/definitions/target/
/samples.mlib/samples.mlib.iml
/samples.mlib/target/
/samples.murmel/samples.murmel.iml
/samples.murmel/target/
/target/
/graalvm/target/
/graalvm/reports/
