# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
/murmel.iml
/.idea/
/parent/definitions/definitions.iml
/parent/jmh/jmh.iml
/jmurmel-all.iml
/parent/definitions/target/
/target/
/lambdajbm/jmurmelbm.iml
