name: JMurmel Native Image builds

on:
  push:
    paths-ignore:
      - CHANGES
      - Dockerfile
      - Dockerfile.distroless
      - "**.md"
      - "**.txt"
      - "**.html"
      - "**.lisp"
      - "**.completions"
      - "scribbles/**"

env:
  JAVA_VERSION: 22

permissions:
  contents: read

jobs:
  build:
    name: JMurmel Native on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-20.04]
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - uses: graalvm/setup-graalvm@2f25c0caae5b220866f732832d5e3e29ff493338 # v1
        with:
          distribution: 'graalvm'
          java-version: ${{ env.JAVA_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Restore Maven repo
        id: restore-maven
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-graalvm-maven-${{ hashFiles('**/pom.xml') }}

      - name: Build JMurmel
        run: |
          mvn -V -B clean package -pl lambda "-Djavac.target=${{ env.JAVA_VERSION }}" -DskipTests
          mvn -V -B clean package -f graalvm/pom.xml "-Djavac.target=${{ env.JAVA_VERSION }}" -DskipTests

      - name: Run native image Windows
        if: runner.os == 'Windows'
        run: |
          copy samples.murmel-mlib\mlib.lisp .
          native-image         --no-fallback --initialize-at-build-time=io.github.jmurmel --initialize-at-run-time=io.github.jmurmel.InstallDir -H:IncludeResources="META-INF/.*" -H:ReflectionConfigurationFiles=./graalvm/src/main/graalvm/reflectconfig -H:DynamicProxyConfigurationFiles=./graalvm/src/main/graalvm/proxyconfig -H:SerializationConfigurationFiles=./graalvm/src/main/graalvm/serializationconfig -cp ./graalvm/target/unsupported.jar -jar ./lambda/target/jmurmel.jar
          ./jmurmel --version

      - name: Run native image Linux
        if: runner.os == 'Linux'
        run: |
          cp samples.murmel-mlib/mlib.lisp .
          native-image --gc=G1 --no-fallback --initialize-at-build-time=io.github.jmurmel --initialize-at-run-time=io.github.jmurmel.InstallDir -H:IncludeResources="META-INF/.*" -H:ReflectionConfigurationFiles=./graalvm/src/main/graalvm/reflectconfig -H:DynamicProxyConfigurationFiles=./graalvm/src/main/graalvm/proxyconfig -H:SerializationConfigurationFiles=./graalvm/src/main/graalvm/serializationconfig -cp ./graalvm/target/unsupported.jar -jar ./lambda/target/jmurmel.jar
          ./jmurmel --version

      - name: Save Maven repo
        id: cache-maven
        uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: ~/.m2/repository
          key: ${{ steps.restore-maven.outputs.cache-primary-key }}

      - name: Upload binaries, mlib and docs
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: jmurmel-native-${{ runner.os }}-${{ runner.arch }}
          path: |
            jmurmel
            jmurmel.exe
            mlib.lisp
            murmel-langref.md
            mlib.md
            murmel-langref.html
            mlib.html
            LICENSE
