# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on:
  push:
    paths-ignore:
      - CHANGES
      - Dockerfile
      - Dockerfile.distroless
      - "**.md"
      - "**.txt"
      - "**.html"
      - "**.completions"
      - "scribbles/**"
    branches: [ master ]
  pull_request:
    paths-ignore:
      - CHANGES
      - Dockerfile
      - "**.md"
      - "**.txt"
      - "**.html"
      - "**.completions"
      - "scribbles/**"
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        java: [ '8', '17', '21', '22-ea' ]
    name: Java ${{ matrix.Java }} CI

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Set up JDK ${{ matrix.Java }}
      uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Cache Maven repo
      uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

    - name: Build with Maven
      run: mvn -V -B clean install site --file pom.xml -Djdk.console=jdk.jshell -Djavac.target=`echo "${{ matrix.java }}" | sed -e "s/-ea//g"`

    - name: Upload Jar
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-temurin-${{ matrix.java }}
        path: |
          lambda/target/jmurmel.jar

    - name: Upload docs
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-temurin-${{ matrix.java }}
        path: |
          murmel-langref.md
          mlib.md
          murmel-langref.html
          mlib.html
          LICENSE

    - name: Upload mlib
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-temurin-${{ matrix.java }}
        path: |
          samples.murmel-mlib/mlib.lisp

    - name: Create W64 launcher
      if: ${{ matrix.java == '8' }}
      run: mvn -V -B package -pl scripts -Dlaunch4j.skip=false

    - name: Upload launch4j exe
      if: ${{ matrix.java == '8' }}
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-w64-slim
        path: |
          scripts/target/jmurmel.exe

    - name: Upload launch4j mlib
      if: ${{ matrix.java == '8' }}
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-w64-slim
        path: |
          samples.murmel-mlib/mlib.lisp

    - name: Upload launch4j docs
      if: ${{ matrix.java == '8' }}
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: jmurmel-w64-slim
        path: |
          murmel-langref.md
          mlib.md
          murmel-langref.html
          mlib.html
          LICENSE
          legal/launch4j/*
