# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

# When a tag is pushed then also create a release,
# see https://github.com/softprops/action-gh-release

name: Create release

on:
  push:
    tags: "jmurmel-all*"

env:
  JAVA_VERSION: 8
  JAVA_TARGET: 8

permissions:
  contents: read

jobs:
  build:

    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ubuntu-latest
    name: Release

    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

    - name: Set up JDK ${{ env.JAVA_VERSION }}
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
      with:
        java-version: ${{ env.JAVA_VERSION }}
        distribution: 'zulu'

    - name: Restore Maven repo
      uses: actions/cache/restore@ab5e6d0c87105b4c9c2047343972218f562e4319 # v4.0.1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

    - name: Build with Maven
      run: mvn -V -B clean package -pl lambda,scripts -Dlaunch4j.skip=false -DskipTests=true -Djavac.target=${{ env.JAVA_TARGET }}

    - name: Create Jar zipfile
      run: zip -j ${{ github.ref_name }}-jar.zip      LICENSE lambda/target/jmurmel.jar  samples.murmel-mlib/mlib.lisp murmel-langref.md murmel-langref.html mlib.md mlib.html

    - name: Create slim zipfile
      run: zip -j ${{ github.ref_name }}-w64-slim.zip LICENSE scripts/target/jmurmel.exe samples.murmel-mlib/mlib.lisp murmel-langref.md murmel-langref.html mlib.md mlib.html && zip -r ${{ github.ref_name }}-w64-slim.zip legal/launch4j/

    - name: Create release and upload files
      uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # v2.0.4
      with:
        prerelease: true
        files: |
          CHANGES
          GETTING STARTED.txt
          LICENSE
          lambda/target/jmurmel.jar
          samples.murmel-mlib/mlib.lisp
          mlib.md
          mlib.html
          murmel-langref.html
          murmel-langref.md
          ${{ github.ref_name }}-jar.zip
          ${{ github.ref_name }}-w64-slim.zip
